:root{
    --blue: #1673FF;
    --lightBlue: #2B7FFF;
    --pink: #FF8888;
    --lightPink: #FFA3A3;
}
.blackFont{
color: black;
}
.whiteFont{
color: white;
}
.blueFont{
color: var(--blue);
}
.blue{
    background-color: var(--blue);
}
.lightBlue{
    background-color: var(--lightBlue);
}

.pink{
    background-color: var(--pink);
}
.lightPink{
    background-color: var(--lightPink);
}