.background{
    position: absolute;
    display: flex;
    flex-flow: row;
    overflow: hidden;
    height: 100%;
    width: 100%;
    z-index: -1;
}
.animationContainer{
    display: flex;
    flex-flow: row;
    width: 100%;
    height: 100%;
}
.backingBlock{
    height: calc(20vw + 20vh + 5vmin);
    width: calc(20vw + 20vh + 5vmin);
    border-radius: 1.5rem;
}
.container{
    position: absolute;
    width: 100%;
    height: 100%;
}
.blockContainer{
     position: absolute;
}