.toes{
    background-color: white;
    padding: 2.5%;
}
.siteMap > a{
    margin-right: 5%;
    font-size: calc(1vw + 1vh + .5vmin);
    color: var(--blue);
    text-decoration: none;
}
.siteMap{
    margin-bottom: 2.5%;
}
.social > a{
    display: flex;
    justify-content: flex-start;
    height: 100%;
    margin-right: 5%;

}
.social > a > img{
    width: inherit;
    height: inherit;
}
.social{
    display: flex;
    justify-content: flex-start;
    height: 2em;
    margin-bottom: .5em;
    width: 40%;
}